<!DOCTYPE html>
<html>
<head>
  <title>WatchCat</title>
  <link rel="stylesheet" href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css">
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/apply_params.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="safe-area">
  </div>
  <div class="app">
    <div class="heading">
      <h1>워치캣! 안전 지킴이</h1>
    </div>
    {% block app %}{% endblock %}
  </div>
</body>
</html>
